{% extends "main/base.html" %}

{% block title %}Expenses - PlanNest{% endblock %}

{% block content %}
<div class="Dashboard">
    <div class-="container">
        <!-- test -->
        <div id="card">
            <h2>Tasks</h2>
            <p>$100</p>
            <button class="card-btn">view</button>
        </div>
        <div id="card">
            <h2>Expenses</h2>
            <p>$501</p>
            <button class="card-btn">view</button>
        </div>
        <div id="card">
            <h2>Balance</h2>
            <p>$50</p>
            <button class="card-btn">view</button>
        </div>
        <div id="card">
            <h2>Income</h2>
            <p>$1000</p>
            <button class="card-btn">view</button>
        </div>
        <div id="card">
            <h2>Mutual Funds</h2>
            <p>$1000</p>
            <button class="card-btn">view</button>
        </div>
    </div>
  </div>
{% endblock %}
